<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
<!--      v-if, v-else-if, v-else directives dynamically adds/removes the element needed bases on a true/false -->
<!--      condition.-->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <ul v-else>
<!--        The "key" attribute is a Vue understood attribute, and is good to use when using v-for.-->
<!--        Key needs a unique identification for each element that is being outputted by v-for-->
<!--        It helps Vue tell items apart so that when DOM element replacement goes on Vue can tell what-->
<!--        needs to stay with each element. E.g. deleting items from a list so that the input text box-->
<!--        below is not associated with the wrong element upon removal.-->
        <li v-for="(goal, idx) in goals" :key="goal" @click="removeGoal(idx)">
          <p>{{goal}}-{{idx}}</p>
          <input type="text" @click.stop>
        </li>
      </ul>
<!--      <p>Example of using v-for to loop through an object (e.g. JSON object)</p>-->
<!--      <ul>-->
<!--        <li v-for="(value, key) in {name: 'Andrew', age: 31}">{{key}} : {{value}}</li>-->
<!--      </ul>-->
<!--      <p>Example of using v-for to loop through some numbers</p>-->
<!--      <ul>-->
<!--        <li v-for="num in 10">{{num}}</li>-->
<!--      </ul>-->
<!--      v-show directive leaves the element defined on the page and instead uses CSS styling (i.e. display) to -->
<!--      either show or hide the element.-->
<!--      <ul v-show="goals.length > 0">-->
<!--        <li>Goal</li>-->
<!--      </ul>-->
    </section>
  </body>
</html>
